%p#notice= notice

%p
  %b Name:
  = @website.name
%p
  %b File path:
  = @website.sitepress.root_path
%p
  %b Description:
  = @website.description

= link_to 'View pages', website_resources_path(@website)
\|
= link_to 'Edit', edit_website_path(@website)
\|
= link_to 'Back', websites_path
