-# frozen_string_literal: true
= simple_form_for(@docker_preview_server) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.association :website
    = f.input :image_name
    = f.input :container_cmd
    = f.input :container_volume_path
    = f.input :container_port
    = f.input :host_port

  .form-actions
    = f.button :submit
